*.DS_Store
*.egg-info
*.log
*.lprof
*.py[cod]
*.swp
.coverage
.svn
.tox
.idea/
.vscode
bin
build
dist
docs/_build
include
local
man
node_modules
sdist
venv
pocsuite/modules/tmp/*
test.py
pocsuite/api/conf.ini
